.SearchbarForm{
    display: flex;
    justify-content: space-around;
    width: 400px;
    border-radius: 100px;
    
    & > input[type="search"] {
        background-color: none;
        width: 60%;
    }

    & > input[type="submit"] {
        background-color: #00284C;
        color: white;
        width: 20%;
    }

    & > .Fillter {
        width: 20%;
        /* font-size: 15px; */
        text-align: center;
    }
}