Header {
    /* width: 100vw; */
    height: auto;
    display: flex;
    background-color: white;

}

.HeaderNav {
    display: inline-table;
    & > .MenuList, .AlarmList {
        width: auto;
        position: absolute;
        z-index: 100;
    }
}

.LogoutBtn {
    background-color: white;
    color: #00284C;
    border: none;
    font-size: 25px;
    font-weight: 600;

}

.LoginState {
    display: none;
}

.LogoutState {
    display: block;
}

.AlarmList {
    padding: 5px;
    width: 100%;
    background-color:white;
    border-style:groove;
    border-radius: 10px;
    display: none;
    .Menu {
        color: black;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        &:hover {
            color: lightgrey;

        }
        
    }
}

/* 지연_알람 */
/* 알람 아이콘 컨테이너 스타일 */
.alarm-icon-container {
    position: relative;
    display: inline-block;
}

/* 알람 아이콘 기본 스타일 */
.alarm-icon-container .Alarm {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

/* unread 상태일 때 알람 아이콘 빨간색 */
.alarm-icon-container.red .Alarm {
    fill: red;
}

/* 알람 점(불빛) */
.alarm-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}
