.boardDetailContainer{
    margin: 20px;
    /* background-color: azure; */
}

.postContainer{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;

}

.postInfoContainer {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.postInfo {
    font-size: 13px;
}
.title {
    margin:20px;
    
    
}
.writer {
    font-size: 15px;
    float: left;
    margin: 5px ;

}

hr {
    width: 100%;
}

.postStatus{
    float: right;

    span {
        margin: auto 5px;
    }
}
.date {
    float: right;
    margin: 5px ;

    
}

.content{
    height: fit-content;
    display: flex;
    margin: auto 5px 5px 5px;
    /* word-spacing: 1px; */
    padding: 5px;
    line-height: 20px;
    /* background-color: aliceblue; */

}

.hashtag {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 100px;
    margin-right: 10px;
    color: gray;
    cursor: pointer;
    font-size: 13px;
    &:hover{
        color: lightgray;
    }
}


.bookmarkBtn {
    background: none;
    border: none;
    float: right;

}
.bookmarkIcon {
    width: 25px;
    height: 25px;
    fill:white;
    cursor: pointer;
    &:hover {
        fill: #00284C;
    }
}


.likeBtn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.likeIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.userReaction {
    display: flex;
    justify-content: space-between;
}
.editBtnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: auto;
    button {
        background: none;
        border: none;
        color: gray;
    }
}

.shareContainer {
    text-align: center;
    button {
        
        padding: 5px;
        margin: 10px;
        border: none;
        background-color: aliceblue;    
    }
}