.GroupChatWrap {
    display: flex;
}

.CreateNewChatWrap {
    display:flex;
    flex-direction: column;
    & *{
        margin: 10px auto;
    }
}

.CreateChatBtn {
    background-color: #00284C;
    color: white;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
}

.GroupChatName {
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border-color: #00284C;    
}


hr {
    width: 80%;
}

.Pre {
    list-style: square;
    font-size: 20px;
    margin: 10px auto;
}
.Title {
    text-align: center;
    color: #00284C;
    font-weight: 900;
}

.Subtitle {
    text-align: center;
}

/* 내 채팅 */

.ChatSidebar {
    float: right;
    display: flex;
    flex-direction: column;
    
    width: 200px;
    height: auto;
    overflow: hidden;
    border-radius: 25px 25px 0 0;
    margin: 50px 20px 0 20psx;
}