.GroupChatWrap {
    display: flex;
}

.CreateNewChatWrap {
    display:flex;
    flex-direction: column;
    /* & *{
        margin: 10px auto;
    } */
}

.CreateChatBtn {
    background-color: #00284C;
    color: white;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
}

.GroupChatName {
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border-color: #00284C;    
}


hr {
    width: 80%;
}

.Pre {
    list-style: square;
    font-size: 20px;
    margin: 10px auto;
}
.Title {
    text-align: center;
    color: #00284C;
    font-weight: 900;
}

.Subtitle {
    text-align: center;
}

/* 채팅 */

.ChatContainer {
    display: flex;
    flex-direction: column;
    height: 500px; /* 고정 높이 */
    width: 700px;
}

.ChatSidebar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding:10px;
    /* background-color: aqua; */
    border-radius: 25px 25px 0 0;
    margin: 50px 20px 0 20psx;
    & Button{
        color: #00284C;
        border: none;
        font-size: 20px;
        font-weight: 700;
        background-color: white;
    }
}

.InviteForm {
    display: flex;
    flex-direction: column;
    input[type="text"]{
        border-radius: 100px;
        padding: 5px 10px;
    }
}
/* .InviteBtn {
    color: white;
    background-color: #00284C;
    padding: 10px;
    border-radius: 10px;
} */

.Textarea {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: 1pxd;
    resize: none;

}
.SendBtn{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}
.JointAccount {
    
}

.AdjustBtn {

}