
.hashtagBoard {
    padding: 20px;
}

.hashtagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 0px;
}

.hashtag {
    background-color: #ddd;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hashtag:hover {
    background-color: gray;
}
