.LayoutWrap {
    display:  flex;
    margin: 0 -8px;
}

:global .link {
    text-decoration: none;
    color: #00284C;
}
/* 그림자 */
:global .Shadow {
    background-color: white;
    box-shadow: 0px 10px 20px  gray ;
}
