body {
  margin: 0px;
  margin-right: auto;
}

.LayoutWrap {
  display: flex;
}
:global .link {
  text-decoration: none;
  color: #00284c;
}
/* 그림자 */
:global .Shadow {
  /* background-color: white; */
  box-shadow: 0px 10px 20px lightgray;
}

:global .CategoryShadow {
  background-color: white;
  box-shadow: 0px -10px 20px -5px lightgray;
}

@font-face {
  font-family: "ADLaMDisplay-Regular";
  src: url("../Assets/ADLaMDisplay-Regular.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}


:global body * {
  font-family: "Pretendard";
  font-weight: 600;
}

:global .ContentSection {
  border-radius: 20px;
  margin: 20px;
  min-height: 700px;
  height: 900px;
  min-width: 600px;
  width: 1000px;
  max-width: auto;
  background-color: white;
  overflow-y: scroll;
}


h1 {
  margin: 70px 50px 50px 50px;
}


.alarmIconContainer {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  bottom: 20px;
  left: 5px;
  
}

.alarmDot {
  position: absolute;
  color: tomato;
  z-index: 100;
}

.alarm {
  position: absolute;
  top: 20px;
}