.Top {
    width: 100vw;
    padding: 20px 0px;
}

.Gradient {
    padding: 50px 0px;
    background: linear-gradient(to right,#00284C 50%,white);
}
.Bottom {
    display: flex; 
    justify-content: space-between;
    margin: 50px;
}

.Catchphrase {
    color: white;
    font-size: 90px;
    font-weight: 900;
    padding: 10px;
}

.Info{
    color: white;
    margin-left: 10px;
    font-weight: 700;
}

.TestLink {
    width: 300px; height: 125px;
    background-color: gold;
    padding: 50px;
    /* border: 3px solid tomato; */
    background-image: url("https://mymtbucket0124.s3.ap-northeast-2.amazonaws.com/profile/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    transition: all 0.3s ease-in-out;

    &:hover{
        scale: 1.1;
    }
}

.Lastest{
    width: 300px; height: 125px;
    /* position: relative; */
    padding: 50px;

    background-image: url("https://i.pinimg.com/736x/7d/4d/b5/7d4db561ff53e4cea1086a898d4f2168.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    &:hover .TestLink{
        opacity: 100;
    }
}

.LastestPic {
    border-radius: 10px;
    &:hover {
        filter: brightness(0.7);
        transition: 0.3s;
    }


}