.Top {
    width: 100vw;
    padding: 20px 0px;
}

.Gradient {
    padding: 50px 0px;
    background: linear-gradient(to right,#00284C 50%,white);
}
.Bottom {
    display: flex; 
    justify-content: space-evenly;
}

.Catchphrase {
    color: white;
    font-size: 90px;
    font-weight: 900;
    padding: 10px;
}

.Info{
    color: white;
    margin-left: 10px;
    font-weight: 700;
}

.TestLink {
    width: 200px; height: 100px;
    background-color: gold;
    padding: 50px;
    /* border: 3px solid tomato; */
    background-image: url("https://i.pinimg.com/736x/db/ba/dd/dbbadd7934173a89d8f0a43241f4367e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    &:hover{
        filter: brightness(-05)
    }
}

.Lastest{
    width: 200px; height: 100px;
    position: relative;
    &:hover .TestLink{
        opacity: 100;
    }
}

.LastestPic {
    border-radius: 10px;
    &:hover {
        filter: brightness(0.7);
        transition: 0.3s;
    }


}