.Top {
    width: 100vw;
    padding: 100px 0px;
}

.Gradient {
    background: linear-gradient(to right,#00284C 50%,white);
}
.Bottom {
    display: flex;
}

.Text {
    color: white;
    font-size: 50px;
    font-weight: 900;
}

.GotoTest {
    background-color: gold;
    padding: 50px;
}
