:global .hr {
  margin: auto;
  width: 90%;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  font-size: 20px;
  width: fit-content;
  margin: 50px auto;
}

.gridItem {
  display: flex;
  justify-content: space-between;
  padding: 3px;

  .input {
    /* background-color: aqua; */
    padding: 7px;
    border: none;
    border-radius: 100px;
    max-width: 200px;
    font-size: 18px;
  }
}

.readonly {
  opacity: 0;
}

.label {
  min-width: 150px;
  font-size: 20px;
  /* background-color: tomato; */
}

.modifybutton {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  color: #00284c;
  background: none;
}

.btnContainer {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  float: right;
}

.submitBtn {
  font-size: 15px;
  padding: 5px 20px;
  background-color: #00284c;
  color: white;
  border-radius: 10px;
}

.deleteAccountBtn {
    cursor: pointer;
  color: #00284c;
  background: none;
  margin-top: 60px;
  margin-left: 10px;
}
