.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  /* width: auto; */
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  /* background: #f9f9f9; */
  text-align: center;
}

.TripDate {
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* 여행 일정 */
.Itinerary {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* background-color: tomato; */
  border-radius: 100px;
  padding: 5px;
}

.dateSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 600px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 100px;
  width: 60%;
  text-align: center;
}

.Destination {
  border: none;
}

.todoSection {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  /* background-color: blue; */
}

/* 투두 리스트 */
.TodoList {
  margin-top: 10px;
  /* padding: 5px; */
}

/* 개별 투두 */
.todoItem {
  border: 1px solid #ddd;   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: whitesmoke;

  margin: 20px 0;
}
.deleteButton {
  color: tomato;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  align-self: end;
  margin-top: 10px;
}


.timeInput {
  margin: 5px;
  padding: 0 5px;
  border: none;
  font-size: 10pxx;
  border-radius: 100px;
  background: none;
  width: fit-content;
  box-shadow:0 0 20px #ddd;

}

.timeDash {
  margin: 0 5px;
  font-size: 18px;
}

.taskInput {
    color: #00284C;
  padding: 5px 20px;
  margin: 10px 0;
  border-radius: 100px;
  border: none;
  background: none;
  font-size: 12px;
  /* background-color: whitesmoke; */
  box-shadow:0 0 20px #ddd; ;

}

.subTaskInput {
  word-wrap: break-word;
  word-break: keep-all;
  padding: 10px;
  resize: none;
  border: none;
  background: none;
  width: 90%;
  font-size: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow:0 0 20px #ddd;

}
.addButton {
    float: right;
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.saveButton {
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.updateButton {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
