.container {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.subContainer {

  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 300px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

}

.TripDate {
  display: flex;
  align-items: center;
}


/* 여행 일정 */
.Itinerary {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 100px;
  padding: 1px;
  
}

.dateSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background: #fff;

  padding: 15px;
  border-radius: 20px;
  overflow-y: auto;
  min-height: 400px;
  max-height: 600px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  
}

.input {
    /* background-color: aqua; */
  padding: 5px;
  margin: 5px;
  border: 1px solid whitesmoke;
  border-radius: 100px;
  width: 60%;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.Destination {
  border: none;
}

.selectedDate {
  font-size: 17px;
}

.todoSection {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
}

/* 투두 리스트 */
.TodoList {
  margin-top: 10px;
  /* padding: 5px; */
}

/* 개별 투두 */
.todoItem {
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0px 0px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 20px 0;
}
.deleteButton {
  color: tomato;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  align-self: end;
  margin-top: 10px;
}

.timeInput {
  padding: 0 5px;
  border: none;
  font-size: 10px;
  border-radius: 100px;
  background: none;
  width: fit-content;
  box-shadow: 0 0 20px #ddd;
}

/* .timeDash {
  margin: 0 5px;
  font-size: 18px;
} */

.taskInput {
  padding: 5px 10px;
  margin: 10px 0;
  width: 80%;
  border-radius: 100px;
  border: none;
  background: none;
  font-size: 12px;

  /* background-color: whitesmoke; */
  box-shadow: 0 0 20px #ddd;
  &:focus {
    outline: none;
  }
}

.subTaskInput {
  word-wrap: break-word;
  word-break: keep-all;
  padding: 10px;
  resize: none;
  border: none;
  background: none;
  width: 90%;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 20px #ddd;
    &:focus {
    outline: none;}
}
.addButton {
  float: right;
  background: #00284c;
  color: white;
  margin: 10px;
  padding: 5px;
  margin-right: 0;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton {
  font-size: 12px;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
background-color: #00284c;
  
}

.updateButton {
  font-size: 12px;

  margin: 10px;
  background: #007bff;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #00284c;
}

.ContentSection {
  width: 1200px;
}