/* .sidebarContainer {

} */
.userInfo {
  background-color: white;
  width: 250px;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  & * {
    margin: 0px auto;
  }
}


.userProfilePic {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
  margin: 15px 0;
}

.category {
  width: 250px;
  height: 60%;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
  margin: 50px 20px 0 20px;
  background-color: white;
}

li {
  list-style: none;
  padding: 5px 5px;
  font-size: 25px;
  &:hover {
    .menuList,
    .alarmList {
      display: block;
    }
    & > .contourLine {
      display: none;
    }
  }
}

.profileEditBtn {
  border: none;
  padding: 5px 10px;
  background-color: #00284c;
  color: white;
  border-radius: 10px;
}

.menuList {
  margin-right: 30px;
  width: 100%;
  background-color: #00284c;
  display: none;
  .menu {
    color: white;
    text-decoration: none;
    &:hover {
      color: lightgrey;
    }
  }
}

.alarmList {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-style: groove;
  border-radius: 10px;
  display: none;
  .Menu {
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: lightgrey;
    }
  }
}


.userLevel {
  padding: 5px;
  font-size: 12px;
}
.logoutBtn {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  background:none;
  border: none;

}

.headerNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px;

}

.alramIcon {
  width: 15px; height: 15px;
  justify-self: flex-end;

}

.userNickContainer {
  font-size: 20px;
  display: flex;
}

.userNick {
  font-size: 20px;
  padding:0px 10px;
  justify-self: center;
}

.userFollowerContainer {
  display: flex;
  margin: 10px auto;
}

.followBtn {
  margin: 5px;
}