.UserInfo {
  width: 250px;
  height: 450px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  & * {
    margin: 10px auto 0 auto;
  }
}

.UserProfilePic {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.Category {
  width: 250px;
  height: 60%;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
  margin: 50px 20px 0 20px;
  background-color: white;
}

li {
  list-style: none;
  padding: 5px 5px;
  font-size: 25px;
  &:hover {
    .MenuList,
    .AlarmList {
      display: block;
    }
    & > .ContourLine {
      display: none;
    }
  }
}

.MenuList {
  margin-right: 30px;
  width: 100%;
  background-color: #00284c;
  display: none;
  .Menu {
    color: white;
    text-decoration: none;
    &:hover {
      color: lightgrey;
    }
  }
}

.AlarmList {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-style: groove;
  border-radius: 10px;
  display: none;
  .Menu {
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: lightgrey;
    }
  }
}

