
.Wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
}

.bar {
    text-align: center
}